.bg-color{
  background-color: #F2F6FC;
}
.padding20X{
  padding-left: 20px;
  padding-right: 20px; 
}
.paddingX20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.margin20X{
  margin-left: 20px;
  margin-right: 20px;
}
.marginX20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.el-form-item{
  margin-bottom: 0;
}
.el-select{
  width: 200px;
}
.el-input{
  width: 200px;
}
.el-date-editor .el-range-separator{
  width: auto;
}
.block{
  text-align: right;
  margin: 20px 0;
}
.el-dialog__footer{
  border-top: 1px solid #e2e2e2;
}